@import  url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import  url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --mainColor: #2d3142;
  --firstColor: #f6b93b;
  --secondColor: #9933ff;
  --thirdColor: #20bf6b;
}

body {
  background-color: #d96900;
  text-align: center;
  font-family: Roboto;
}

.title {
  font-family: Bebas Neue;
}

.card {
  background: #f0f0f0;
  border-radius: 15px;
  display: inline-block;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 400px;
  overflow: hidden;
}

.card-1 {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 0 30px rgba(0,0,0,1);
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.title {
  padding-top: 40px;
  height: 80px;
  font-size: 70px;
  color: #fafafa;
}

.zoom {
  /* transition: transform .5s;
  transition: filter .5s; */
  filter: contrast(90%);
  transition: all 0.5s ease 0s;
}

.zoom:hover {
  transform: scale(1.02) translate(0px, -2px);
  filter: contrast(100%);
}

.container h4{
  /* max-width: 100vw; */
  /* font-size: 60%; */
  margin-top: 3px;
  margin-bottom: 8px;
  color: #444444;
}

.buttonContainer {
  width: 100%;
  align-content: left;
  padding-bottom: 15px;
}

.button {
font-size: 11px;
color: var(--mainColor) !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid var(--mainColor) !important;
display: inline-block;
transition: all 0.5s ease 0s;
}

.button:hover {
  color: #ffffff !important;
  background: var(--firstColor);
  border-color: var(--firstColor) !important;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}

.button.style1:hover {
  color: #ffffff !important;
  background: var(--thirdColor);
  border-color: var(--secondColor) !important;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}

.button.style2:hover {
  color: #ffffff !important;
  background: var(--thirdColor);
  border-color: var(--thirdColor) !important;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}
